@import url('https://fonts.googleapis.com/css?family=Lora');

// Default font-families. From typography-defaults.less
@fontFamilyHeadings: "serif";
//@fontFamilyBody:     @fontFamilyVerdana, "serif";
@fontFamilyBody:     "Lora", serif;
@fontFamilyCode:     "monospace";

/**
 * My own dark settings.
 * Colors from https://color.adobe.com/create# see in the bottom of this file
 */
@bgColorHtml: @blueHeatherSquare-3-hex;
@bgColorBody: @blueHeatherSquare-3-hex;
@colorBody: @blueHeatherSquare-4-hex;
@textColor: @blueHeatherSquare-4-hex;
@aColor: @blueHeatherSquare-5-hex;

@bgColorFooter: @blueHeatherSquare-1-hex;
@colorBoxShadow: @blueHeatherSquare-4-hex;

// Magic number and base fontsize. From typography-defaults.less
@magicNumber:  24px;  // 22px
@fontSizeBody: 16px;

.rm-small-wrapper {
    font-size: 200%;
}

a, p, h1, h2, h3, h4, h5, h6, ul,
.stylechooser,
.rm-small-wrapper,
.region-footer a,
.breadcrumb-list li::after,
.next-previous .previous,
th, td, li a, ol,
.rm-desktop li a,
.rm-desktop li a:hover,
label
 {
    color: @textColor;
}

.next-previous .next a {
    color: @bgColorHtml;
}

thead {
    box-shadow: 0 1px 0 @textColor;
}

tr:hover {
    background-color: @aColor;
}

.stylechooser fieldset {
    border: 2px groove @textColor;
}

.toc li:hover {
    color: @textColor;
}

.toc .selected {
    background-color: @textColor;
    opacity: 0.5;
}

.toc .selected a {
    color: @bgColorHtml;
}

.footer-column i {
    font-size: 120%;
}

.site-logo-text a {
    text-shadow: 2px 2px @aColor;
}

.region-main .block {
    background-color: @textColor;
    border: 5px groove @aColor;
}

.region-main .block p {
    color: @bgColorHtml;
}

.route- .figure.right img {
    border-radius: 50%;
    box-shadow: 5px 10px 18px @colorBoxShadow;
}

.route-om .region-main .figure img {
    border: 5px solid white;
}

.outer-wrap-footer {
    background-image: linear-gradient(to bottom, @bgColorHtml, @bgColorFooter, @bgColorHtml);
}

.region-footer h5 {
    border-bottom: 1px solid @textColor;
}

#rm-menu {
    background-color: @bgColorHtml;
    border-left: 8px groove @textColor;
}

#rm-menu.rm-clicked a,
.rm-max .rm-small .rm-button.rm-clicked {
    color: @textColor;
}

/* Color Theme Swatches in Hex from Adobe Color CC */
@blueHeatherSquare-1-hex: #325573;
@blueHeatherSquare-2-hex: #5d84a6;
@blueHeatherSquare-3-hex: #101e26;
@blueHeatherSquare-4-hex: #89bad9;
@blueHeatherSquare-5-hex: #f2f2f2;
