// Module for kmom06 design elements

.region-footer h5 {
    border-bottom: 2px dotted @textColor;
}

.toc .selected {
    background-image: url(http://www.student.bth.se/~mbfs17/dbwebb-kurser/oophp/me/redovisa/htdocs/img/theme/blueHeather256x256.jpg);
    background-position: right;
    background-size: 20% 100%;
    background-repeat: no-repeat;
}

.region-main .block {
    background-image: url(http://www.student.bth.se/~mbfs17/dbwebb-kurser/oophp/me/redovisa/htdocs/img/theme/byline.png);
}

.debug-info,
pre {
    background-color: @textColor;
}

/* Dice100 */
.presentation {
    display: flex;
    justify-content: flex-flex-start;
}

.col1 {
    margin-right: 4em;
}

.col2 pre {
    padding-left: 6px;
}

/* Movie database */
img.thumb {
    max-width: 100px;
    max-height: 100px;
    border: 2px solid white;
}
